In [ ]:
# 라이캣의 개인정보 입력하기

이름 = '캣'
설명 = '위니브 월드 외곽에 살고있는 생선가게 주인 캣'
나이 = 10
오늘_잡은_물고기 = '10'
키 = '45cm'
몸무게 = 1.2
육식 = True
초식 = True
돈 = 1000
훈장 = []
기술 = ['고기잡이', '고기팔기']

'''
라이캣의 개인정보입니다.
성장함에 따라 해당 값이 변합니다.

주의) 마음대로 성장시키지 마세요!
'''

In [ ]:
이름
나이
print(이름)
print(나이)

In [ ]:
나이 = 11
나이

In [20]:
나이 = 나이 + 1

In [ ]:
나이

## 변수의 규칙

1. 변수 중간에 띄어쓰기를 하지 않습니다. 띄어쓰기를 명시하고 싶으실 때에는 언더스코어(`_`)를 사용하세요!
2. 첫 글자는 숫자나 특수문자를 쓰지 않습니다. 물론 언더스코어(`_`) 제외입니다.
3. 첫 글자를 대문자로 쓰지 않습니다. (Class가 대문자로 쓰기 때문이지만, 대문자로 써도 실행됩니다.)
4. 예약어를 사용하지 않습니다. 예를 들어 뒤에 'print' 구문이 나오는데요. 이러한 함수명이나 구문은 변수명으로 사용하지 않습니다.
5. 변수명은 대소문자를 가립니다! `Apple`과 `apple`은 다른 변수가 됩니다.

In [ ]:
오늘_잡은_물고기 + 1 # TypeError

In [ ]:
int(오늘_잡은_물고기) + 1

In [ ]:
print(type(오늘_잡은_물고기))

In [ ]:
print(type(이름)) # '캣'
print(type(나이)) # 현재 12
print(type(오늘_잡은_물고기)) # 현재 10
print(type(몸무게))
print(type(육식)) # True
print(type(기술)) # ['고기잡이', '고기팔기']

'''
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
'''

1. <class 'str'> - string, 문자열
2. <class 'int'> - integer, 정수형
3. <class 'float'> - float, 실수형
4. <class 'bool'> - bool, boolean, 참거짓형
5. <class 'list'> - list, 배열

In [ ]:
# 1. int

print(type(나이))
print(dir(나이))

In [ ]:
나이 = 10
print(나이.bit_length())
print(bin(나이))

나이_90년_후 = 100
print(나이_90년_후.bit_length())
print(bin(나이_90년_후))

In [ ]:
# 1.2 float

print(몸무게)
print(type(몸무게))
print(dir(몸무게))

print(몸무게 + 10)

In [ ]:
# 3. str
# 시퀀스형 자료형

# index, indexing
print(설명)
print(설명[0])
print(설명[1])
print(설명[2])
print(기술)
print(기술[0])
print(기술[1])
# print(설명[0])
# print(설명[0])

In [ ]:
# slicing
# 변수이름 [start:stop:step(생략 가능)]
print(설명)
print(설명[0:3])
print(설명[0:6])
print(설명[0:9])

In [ ]:
캣의_생년월일 = '2220.02.22'
생년 = 캣의_생년월일[:4]
월 = 캣의_생년월일[5:7]
일 = 캣의_생년월일[8:]
print(생년, 월, 일)

In [ ]:
숫자 = '123456789101112'
print(숫자[::-1])
print(숫자[::2])
print(숫자[1:7:2])
print(숫자[7::-1])
print(숫자[-1])

In [ ]:
print(설명)
print(type(설명))
print(dir(설명))
'''
'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs',
'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii',
'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable',
'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip',
'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind',
'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines',
'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
'''

In [ ]:
숫자.count('1')
설명.upper()
설명.lower()
'           hello world'.lstrip()
'           hello world'.strip()
'           hello world'.replace(' ', '!')
설명.index('곽')
설명[설명.index('곽')] # 설명[8]
설명.find('곽')
설명[설명.find('곽')]

설명.index('똬') # ValueError
설명.find('똬')

In [ ]:
# bool

육식 = True
초식 = True
print(type(육식))
print(dir(육식))

## 1. list

1. 순서가 있습니다.
2. 수정이 가능합니다.
3. 순회가 가능합니다.
4. 값의 중복을 허락합니다.

In [ ]:
# list, tuple, dict, set

# 1. list

훈장 = []
기술 = ['고기잡이', '고기팔기']
print(type(기술))
print(dir(기술))
'''
'append', 'clear', 'copy', 'count', 'extend',
'index', 'insert', 'pop', 'remove', 'reverse', 'sort'
'''

In [ ]:
잡은물고기 = ['광어', '고등어', '오징어', '오징어', '광어',
              '광어', '고등어', '고등어', '백상아리', '금붕어']

print(잡은물고기[0])
print(잡은물고기[:3])
print(잡은물고기[:7:2])
잡은물고기[-1] = '백상아리'

In [ ]:
잡은물고기.count()
잡은물고기.append('백상아리')
잡은물고기
# 잡은물고기.clear()
# 잡은물고기.copy

In [ ]:
잡은물고기.extend(['광어', '광어', '고등어'])
잡은물고기

In [ ]:
잡은물고기.index('백상아리')
잡은물고기.insert(3, '백상아리')
잡은물고기.pop() 
# pop 안에 index를 넣어 지울 수 있습니다.
# del 잡은물고기[0]
잡은물고기

In [ ]:
잡은물고기.remove('백상아리')
잡은물고기

In [ ]:
잡은물고기.reverse()
잡은물고기

In [ ]:
잡은물고기.sort()
잡은물고기

## 2. tuple

1. 순서가 있습니다.
2. 값은 변화를 줄 수 없습니다.

In [ ]:
잡은물고기_튜플 = ('고등어',
 '고등어',
 '고등어',
 '광어',
 '광어',
 '광어',
 '광어',
 '광어',
 '백상아리',
 '백상아리',
 '백상아리',
 '오징어',
 '오징어')

print(type(잡은물고기_튜플))
print(dir(잡은물고기_튜플))

## 3. 딕셔너리

1. 순서가 없습니다.
2. 키 값의 중복을 허락하지 않습니다.
3. 값의 중복은 가능합니다.
4. 순회는 가능합니다.

In [95]:
# Dictionary의 구조
# dic = { 'key' : 'value' }

잡은물고기_딕셔너리 = {'광어' : 4, '고등어' : 4, '오징어' : 2, '백상아리' : 3}

In [ ]:
잡은물고기_딕셔너리['광어']
del 잡은물고기_딕셔너리['고등어']
잡은물고기_딕셔너리

In [ ]:
print(type(잡은물고기_딕셔너리))
print(dir(잡은물고기_딕셔너리))

In [ ]:
잡은물고기_딕셔너리.items()

In [ ]:
잡은물고기_딕셔너리.values()

In [ ]:
잡은물고기_딕셔너리.keys()

In [ ]:
잡은물고기_딕셔너리_복사 = 잡은물고기_딕셔너리.copy()
잡은물고기_딕셔너리_복사['백상아리'] = 10
잡은물고기_딕셔너리_복사

In [ ]:
잡은물고기_딕셔너리

In [ ]:
# 잡은물고기_딕셔너리_복사 -> {'광어': 4, '오징어': 2, '백상아리': 3}
# 잡은물고기_딕셔너리 -> {'광어': 4, '오징어': 2, '백상아리': 5}

## 4. set

1. 순서가 없습니다.
2. 값의 중복을 허락하지 않습니다.
3. 차집합, 교집합, 합집하 등의 연산이 가능합니다.

In [ ]:
잡은물고기

In [ ]:
set(잡은물고기)

In [ ]:
test = set(잡은물고기)
test

In [ ]:
잡은물고기_집합 = {'고등어', '광어', '대왕오징어'}
잡은물고기_집합

In [ ]:
print(type(잡은물고기_집합))
print(dir(잡은물고기_집합))
test.difference(잡은물고기_집합)
test.intersection(잡은물고기_집합)
test.union(잡은물고기_집합)

In [ ]:
set('aaabbcc')

## 형변환

- 기존 type에서 다른 type으로 변환

In [ ]:
'10' + '10'

In [ ]:
int('10') + int('10')

In [ ]:
오늘_잡은_물고기_수 = '371'

오늘_잡은_물고기_수 = int(오늘_잡은_물고기_수) + 10
오늘_잡은_물고기_수

In [ ]:
int('kimido') # ValueError

In [ ]:
s = '98710%'
print((s[:-1]) * 2)
print(int(s[:-1]) * 2)

In [ ]:
print("bool('test') :", bool('test')) # True
print("bool(1) :", bool(1)) # True
print("bool(0) :", bool(0)) # False
print("bool(-1) :", bool(-1)) # True
print("bool(' ') :", bool(' ')) # True
print("bool('') :", bool('')) # False
print("bool(None) :", bool(None)) # False

In [ ]:
print(f'bool([1, 2, 3]) : {bool([1, 2, 3])}') # True
print(f'bool([]) : {bool([])}') # False

In [ ]:
tuple([1, 2, 3,])

In [ ]:
t = (1, 2, 3)
list(t)

In [ ]:
dict([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [ ]:
x = int(input('좋아하는 숫자를 입력하세요: '))
x + x
# print(type(x))
# print(dir(x))

In [ ]:
print('hello', end='!!')
print('hello', end='!!')
print('hello', end='!!')
print('hello', end='!!')

In [ ]:
이름 = '캣'
나이 = 12

print('1. 제 이름은', 이름, '입니다. 제 나이는', 나이, '입니다.')
print(f'2. 제 이름은 {이름} 입니다. 제 나이는 {나이} 입니다.') # 많이 사용됨
print('3. 제 이름은 {} 입니다. 제 나이는 {} 입니다.'.format(이름, 나이))
print('4. 제 이름은 %s 입니다. 제 나이는 %d 입니다.'%(이름, 나이))

# 2장 생선을 잡아라!

## 2.1 산술연산자

In [152]:
오늘_잡은_물고기 = 0
오늘_판_물고기 = 0
매출 = 0

In [153]:
오늘_잡은_물고기 = 오늘_잡은_물고기 + 10
오늘_판_물고기 = 오늘_잡은_물고기
재고 = 오늘_잡은_물고기 - 오늘_판_물고기
매출 = 오늘_판_물고기 * 100 # 모든 물고기는 100원

In [ ]:
print(f'나는 오늘 {오늘_잡은_물고기}마리를 잡았고 {오늘_판_물고기}마리를 팔았다냥')
print(f'오늘 재고는 {재고}마리다냥!')
# 매일 2배씩 성장하는 것을 목표로 삼았습니다.
print(f'오늘 {매출}원을 벌었으니 내일은 {매출*2}원을 벌테다냥!')

In [157]:
# A등급: 1000원, B등급: 500원, C등급: 100원
# 오늘 잡은 물고기: A등급 5마리, B등급 7마리, C등급 10마리

등급별_가격 = {'A등급':1000, 'B등급':500, 'C등급':100}

A등급 = 5
B등급 = 7
C등급 = 10
매출 = 0

In [ ]:
# 손님의 주문
# A등급 2마리, B등급 3마리 주세요.
# 받은 돈 = 4000원

A등급 = A등급 - 2
B등급 = B등급 - 3

# 합계 = (1000 * 2) + (500 * 3)
합계 = (등급별_가격['A등급'] * 2) + (등급별_가격['B등급'] * 3)
받은_돈 = 4000

print(f'감사합나디. 여기 거스름돈 {받은_돈 - 합계}원 입니다.')

재고 = A등급 + B등급 + C등급
매출 += 합계

print(f'현재 매출: {매출}, 재고: {재고}')

In [159]:
세금 = 매출/4
순익 = 매출 - 세금

매출, 세금, 순익

(3500, 875.0, 2625.0)

In [ ]:
# 산술연산자 정리
10 + 10
10 - 10
10 / 3 # float
10 // 3 # int
10 * 3
3 ** 3
3 ** 2
10 % 3
10 % 2
# ++a 이러한 연산은 없습니다.
# --a 이러한 연산은 없습니다.

In [162]:
오늘_잡은_물고기 += 10 # 할당연산
오늘_잡은_물고기

40