In [ ]:
# 라이캣의 개인정보 입력하기

이름 = '캣'
설명 = '위니브 월드 외곽에 살고있는 생선가게 주인 캣'
나이 = 10
오늘_잡은_물고기 = '10'
키 = '45cm'
몸무게 = 1.2
육식 = True
초식 = True
돈 = 1000
훈장 = []
기술 = ['고기잡이', '고기팔기']

'''
라이캣의 개인정보입니다.
성장함에 따라 해당 값이 변합니다.

주의) 마음대로 성장시키지 마세요!
'''

In [ ]:
이름
나이
print(이름)
print(나이)

In [ ]:
나이 = 11
나이

In [ ]:
나이 = 나이 + 1

In [ ]:
나이

## 변수의 규칙

1. 변수 중간에 띄어쓰기를 하지 않습니다. 띄어쓰기를 명시하고 싶으실 때에는 언더스코어(`_`)를 사용하세요!
2. 첫 글자는 숫자나 특수문자를 쓰지 않습니다. 물론 언더스코어(`_`) 제외입니다.
3. 첫 글자를 대문자로 쓰지 않습니다. (Class가 대문자로 쓰기 때문이지만, 대문자로 써도 실행됩니다.)
4. 예약어를 사용하지 않습니다. 예를 들어 뒤에 'print' 구문이 나오는데요. 이러한 함수명이나 구문은 변수명으로 사용하지 않습니다.
5. 변수명은 대소문자를 가립니다! `Apple`과 `apple`은 다른 변수가 됩니다.

In [ ]:
오늘_잡은_물고기 + 1 # TypeError

In [ ]:
int(오늘_잡은_물고기) + 1

In [ ]:
print(type(오늘_잡은_물고기))

In [ ]:
print(type(이름)) # '캣'
print(type(나이)) # 현재 12
print(type(오늘_잡은_물고기)) # 현재 10
print(type(몸무게))
print(type(육식)) # True
print(type(기술)) # ['고기잡이', '고기팔기']

'''
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
'''

1. <class 'str'> - string, 문자열
2. <class 'int'> - integer, 정수형
3. <class 'float'> - float, 실수형
4. <class 'bool'> - bool, boolean, 참거짓형
5. <class 'list'> - list, 배열

In [ ]:
# 1. int

print(type(나이))
print(dir(나이))

In [ ]:
나이 = 10
print(나이.bit_length())
print(bin(나이))

나이_90년_후 = 100
print(나이_90년_후.bit_length())
print(bin(나이_90년_후))

In [ ]:
# 1.2 float

print(몸무게)
print(type(몸무게))
print(dir(몸무게))

print(몸무게 + 10)

In [ ]:
# 3. str
# 시퀀스형 자료형

# index, indexing
print(설명)
print(설명[0])
print(설명[1])
print(설명[2])
print(기술)
print(기술[0])
print(기술[1])
# print(설명[0])
# print(설명[0])

In [ ]:
# slicing
# 변수이름 [start:stop:step(생략 가능)]
print(설명)
print(설명[0:3])
print(설명[0:6])
print(설명[0:9])

In [ ]:
캣의_생년월일 = '2220.02.22'
생년 = 캣의_생년월일[:4]
월 = 캣의_생년월일[5:7]
일 = 캣의_생년월일[8:]
print(생년, 월, 일)

In [ ]:
숫자 = '123456789101112'
print(숫자[::-1])
print(숫자[::2])
print(숫자[1:7:2])
print(숫자[7::-1])
print(숫자[-1])

In [ ]:
print(설명)
print(type(설명))
print(dir(설명))
'''
'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs',
'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii',
'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable',
'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip',
'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind',
'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines',
'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
'''

In [ ]:
숫자.count('1')
설명.upper()
설명.lower()
'           hello world'.lstrip()
'           hello world'.strip()
'           hello world'.replace(' ', '!')
설명.index('곽')
설명[설명.index('곽')] # 설명[8]
설명.find('곽')
설명[설명.find('곽')]

설명.index('똬') # ValueError
설명.find('똬')

In [ ]:
# bool

육식 = True
초식 = True
print(type(육식))
print(dir(육식))

## 1. list

1. 순서가 있습니다.
2. 수정이 가능합니다.
3. 순회가 가능합니다.
4. 값의 중복을 허락합니다.

In [ ]:
# list, tuple, dict, set

# 1. list

훈장 = []
기술 = ['고기잡이', '고기팔기']
print(type(기술))
print(dir(기술))
'''
'append', 'clear', 'copy', 'count', 'extend',
'index', 'insert', 'pop', 'remove', 'reverse', 'sort'
'''

In [ ]:
잡은물고기 = ['광어', '고등어', '오징어', '오징어', '광어',
              '광어', '고등어', '고등어', '백상아리', '금붕어']

print(잡은물고기[0])
print(잡은물고기[:3])
print(잡은물고기[:7:2])
잡은물고기[-1] = '백상아리'

In [ ]:
잡은물고기.count()
잡은물고기.append('백상아리')
잡은물고기
# 잡은물고기.clear()
# 잡은물고기.copy

In [ ]:
잡은물고기.extend(['광어', '광어', '고등어'])
잡은물고기

In [ ]:
잡은물고기.index('백상아리')
잡은물고기.insert(3, '백상아리')
잡은물고기.pop() 
# pop 안에 index를 넣어 지울 수 있습니다.
# del 잡은물고기[0]
잡은물고기

In [ ]:
잡은물고기.remove('백상아리')
잡은물고기

In [ ]:
잡은물고기.reverse()
잡은물고기

In [ ]:
잡은물고기.sort()
잡은물고기

## 2. tuple

1. 순서가 있습니다.
2. 값은 변화를 줄 수 없습니다.

In [ ]:
잡은물고기_튜플 = ('고등어',
 '고등어',
 '고등어',
 '광어',
 '광어',
 '광어',
 '광어',
 '광어',
 '백상아리',
 '백상아리',
 '백상아리',
 '오징어',
 '오징어')

print(type(잡은물고기_튜플))
print(dir(잡은물고기_튜플))

## 3. 딕셔너리

1. 순서가 없습니다.
2. 키 값의 중복을 허락하지 않습니다.
3. 값의 중복은 가능합니다.
4. 순회는 가능합니다.

In [ ]:
# Dictionary의 구조
# dic = { 'key' : 'value' }

잡은물고기_딕셔너리 = {'광어' : 4, '고등어' : 4, '오징어' : 2, '백상아리' : 3}

In [ ]:
잡은물고기_딕셔너리['광어']
del 잡은물고기_딕셔너리['고등어']
잡은물고기_딕셔너리

In [ ]:
print(type(잡은물고기_딕셔너리))
print(dir(잡은물고기_딕셔너리))

In [ ]:
잡은물고기_딕셔너리.items()

In [ ]:
잡은물고기_딕셔너리.values()

In [ ]:
잡은물고기_딕셔너리.keys()

In [ ]:
잡은물고기_딕셔너리_복사 = 잡은물고기_딕셔너리.copy()
잡은물고기_딕셔너리_복사['백상아리'] = 10
잡은물고기_딕셔너리_복사

In [ ]:
잡은물고기_딕셔너리

In [ ]:
# 잡은물고기_딕셔너리_복사 -> {'광어': 4, '오징어': 2, '백상아리': 3}
# 잡은물고기_딕셔너리 -> {'광어': 4, '오징어': 2, '백상아리': 5}

## 4. set

1. 순서가 없습니다.
2. 값의 중복을 허락하지 않습니다.
3. 차집합, 교집합, 합집하 등의 연산이 가능합니다.

In [ ]:
잡은물고기

In [ ]:
set(잡은물고기)

In [ ]:
test = set(잡은물고기)
test

In [ ]:
잡은물고기_집합 = {'고등어', '광어', '대왕오징어'}
잡은물고기_집합

In [ ]:
print(type(잡은물고기_집합))
print(dir(잡은물고기_집합))
test.difference(잡은물고기_집합)
test.intersection(잡은물고기_집합)
test.union(잡은물고기_집합)

In [ ]:
set('aaabbcc')

## 형변환

- 기존 type에서 다른 type으로 변환

In [ ]:
'10' + '10'

In [ ]:
int('10') + int('10')

In [ ]:
오늘_잡은_물고기_수 = '371'

오늘_잡은_물고기_수 = int(오늘_잡은_물고기_수) + 10
오늘_잡은_물고기_수

In [ ]:
int('kimido') # ValueError

In [ ]:
s = '98710%'
print((s[:-1]) * 2)
print(int(s[:-1]) * 2)

In [ ]:
print("bool('test') :", bool('test')) # True
print("bool(1) :", bool(1)) # True
print("bool(0) :", bool(0)) # False
print("bool(-1) :", bool(-1)) # True
print("bool(' ') :", bool(' ')) # True
print("bool('') :", bool('')) # False
print("bool(None) :", bool(None)) # False

In [ ]:
print(f'bool([1, 2, 3]) : {bool([1, 2, 3])}') # True
print(f'bool([]) : {bool([])}') # False

In [ ]:
tuple([1, 2, 3,])

In [ ]:
t = (1, 2, 3)
list(t)

In [ ]:
dict([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [ ]:
x = int(input('좋아하는 숫자를 입력하세요: '))
x + x
# print(type(x))
# print(dir(x))

In [ ]:
print('hello', end='!!')
print('hello', end='!!')
print('hello', end='!!')
print('hello', end='!!')

In [ ]:
이름 = '캣'
나이 = 12

print('1. 제 이름은', 이름, '입니다. 제 나이는', 나이, '입니다.')
print(f'2. 제 이름은 {이름} 입니다. 제 나이는 {나이} 입니다.') # 많이 사용됨
print('3. 제 이름은 {} 입니다. 제 나이는 {} 입니다.'.format(이름, 나이))
print('4. 제 이름은 %s 입니다. 제 나이는 %d 입니다.'%(이름, 나이))

## 산술연산자

In [ ]:
오늘_잡은_물고기 = 0
오늘_판_물고기 = 0
매출 = 0

In [ ]:
오늘_잡은_물고기 = 오늘_잡은_물고기 + 10
오늘_판_물고기 = 오늘_잡은_물고기
재고 = 오늘_잡은_물고기 - 오늘_판_물고기
매출 = 오늘_판_물고기 * 100 # 모든 물고기는 100원

In [ ]:
print(f'나는 오늘 {오늘_잡은_물고기}마리를 잡았고 {오늘_판_물고기}마리를 팔았다냥')
print(f'오늘 재고는 {재고}마리다냥!')
# 매일 2배씩 성장하는 것을 목표로 삼았습니다.
print(f'오늘 {매출}원을 벌었으니 내일은 {매출*2}원을 벌테다냥!')

In [ ]:
# A등급: 1000원, B등급: 500원, C등급: 100원
# 오늘 잡은 물고기: A등급 5마리, B등급 7마리, C등급 10마리

등급별_가격 = {'A등급':1000, 'B등급':500, 'C등급':100}

A등급 = 5
B등급 = 7
C등급 = 10
매출 = 0

In [ ]:
# 손님의 주문
# A등급 2마리, B등급 3마리 주세요.
# 받은 돈 = 4000원

A등급 = A등급 - 2
B등급 = B등급 - 3

# 합계 = (1000 * 2) + (500 * 3)
합계 = (등급별_가격['A등급'] * 2) + (등급별_가격['B등급'] * 3)
받은_돈 = 4000

print(f'감사합나디. 여기 거스름돈 {받은_돈 - 합계}원 입니다.')

재고 = A등급 + B등급 + C등급
매출 += 합계

print(f'현재 매출: {매출}, 재고: {재고}')

In [ ]:
세금 = 매출/4
순익 = 매출 - 세금

매출, 세금, 순익

(3500, 875.0, 2625.0)

In [ ]:
# 산술연산자 정리
10 + 10
10 - 10
10 / 3 # float
10 // 3 # int
10 * 3
3 ** 3
3 ** 2
10 % 3
10 % 2
# ++a 이러한 연산은 없습니다.
# --a 이러한 연산은 없습니다.

In [ ]:
오늘_잡은_물고기 += 10 # 할당연산
오늘_잡은_물고기

In [ ]:
오늘_잡은_물고기
오늘_판_물고기

print(오늘_잡은_물고기 > 오늘_판_물고기)
print(오늘_잡은_물고기 < 오늘_판_물고기)
print(오늘_잡은_물고기 >= 오늘_판_물고기)
print(오늘_잡은_물고기 <= 오늘_판_물고기)
print(오늘_잡은_물고기 == 오늘_판_물고기) # 값, 타입을 동시에 봄
print(오늘_잡은_물고기 != 오늘_판_물고기)
# print(오늘_잡은_물고기 === 오늘_판_물고기) # JavaScript

In [ ]:
if 5 > 오늘_판_물고기:
    print('아직 물고기를 다 팔지 않았습니다.')

In [ ]:
# 논리 연산자

# True - False
a = True
b = False

a and a # 논리 곱 (*)
a and b

a or a # 논리 합 (+)
a or b

not a

In [ ]:
오늘_잡은_물고기 = 10
오늘_판_물고기 = 10
전날_매출 = 10000
오늘_매출 = 20000

if (오늘_잡은_물고기 == 오늘_판_물고기) and (전날_매출*2 <= 오늘_매출):
    print('오늘 물고기 판매 끝!')
    print('매출 목표 달성!')
else:
    print('오늘의 목표를 달성하지 못했습니다.')

In [ ]:
x = 15

if x % 3 == 0 and x % 5 == 0:
    print('3과 5의 공배수입니다.')
else:
    print('3과 5의 공배수가 아닙니다.')

In [ ]:
# 비트 연산자

a = 10
b = 2

print(a & b)

In [ ]:
bin(10), bin(2)

In [ ]:
'''
1010
0010
----
0010 -> 2
'''

In [ ]:
print(b << 2)

In [ ]:
# 10 -> 2
# 1000 -> 8

In [ ]:
print(b >> 1)

In [ ]:
print(3 >> 1)

In [ ]:
a^b
'''
1010
0010
----
1000 -> 8
'''
a, b

In [ ]:
~a

In [ ]:
bin(a), bin(~a) # 2의 보수 표현 방법

In [ ]:
''' 
101000
001110
001000
'''
a = 40
b = 14
a & b # 8 bit AND

In [ ]:
''' 
101000
001110
101110
'''
a = 40
b = 14
a | b # 46 bit OR

In [ ]:
''' 
101000
001110
100110
'''
a = 40
b = 14
a ^ b # 38 bit XOR

In [ ]:
''' 
101000
010111 비트단위를 뒤짚음
011000 # 비트단위를 뒤짚고 +1한 값
'''
a = 40
~a # -41 bit NOT(2의 보수)

# 101000
# 011000
# 000000

# 1. 0을 2개로 표현하지 않아도 됨
# 2. 더했을 경우 올림수 하나만 버리면 됨

In [ ]:
a = 40
a << 2

print(bin(a))
print(int('10100000', 2))
print(a << 2)

print(bin(a))
print(int('1010', 2))
print(a >> 2)

In [ ]:
# '연산자' + '='
a = 40

# a += 10 # a = a + 10
# a -= 5 # a = a - 5
# a *= 5
# a **= 5
# a /= 5
# a //= 5
# a %= 5
# a |= 5
# a &= 5
a >>= 2
a
# a <<= 5
# a ~= 5

### 연산자 우선순위

1. 리스트, 튜플, 딕셔너리, 셋
2. 인덱싱, 슬라이싱
3. **
4. *, @, /, //, %
5. +, -
6. 비트단위 연산
7. in, not in, is, is not
8. 논리연산(not, and, or)
9. if, else
10. lambda

## 식별연산

In [ ]:
'kimido' == 'kimido'

In [ ]:
'kimido' is 'kimido' # id값 비교

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]

a == b
a is b

id(a), id(b)
id(a[0]), id(b[0])

In [ ]:
a = 100000000000
b = 100000000000

a == b
a is b

In [ ]:
a = 100
b = 100

a == b
a is b

In [ ]:
a = 10
b = a
c = b

a == c
a is c

## in 구문

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]

a == b, a is b, a in b

In [ ]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]

2 in b, [2] in b, [1, 2] in b
# (True, False, False)

In [ ]:
'k' in 'kimido'

In [ ]:
'kim' in 'kimido'

In [ ]:
True in True # TypeError

In [ ]:
10 in (10, 20, 30), (20) in (10, 20, 30), (10, 20, 30) in (10, 20, 30)
# (True, True, False)

In [ ]:
a = {10, 20, 30}
10 in a, {10} in a, {10, 20} in a
# (True, False, False)

In [ ]:
a = {'key':'value', 'key2':'value2'}
'key' in a
'value' in a
('key', 'key2') in a
{'key':'value'} in a # TypeError

# 문제: 캣의 해골섬 출항

In [ ]:
# 1번 문제

캣의_통장 = 1000000
물고기의_가격 = 30
잡은_물고기의_수 = 110 + 120 + 130 + 140 + 150 + 160 + 170 + 180 + 190 + 200
물고기를_팔고_난_후_캣의_통장 = 1000000 + 잡은_물고기의_수 * 물고기의_가격

In [ ]:
잡은_물고기의_수, 물고기를_팔고_난_후_캣의_통장

In [ ]:
잡은_물고기의_수 = (110 + 200) * 10 // 2
잡은_물고기의_수

In [ ]:
list(range(110, 201, 10))
sum(list(range(110, 201, 10)))

In [ ]:
잡은_물고기의_수 = sum([110, 120, 130, 140, 150, 160, 170, 180, 190, 200])

In [ ]:
format(물고기를_팔고_난_후_캣의_통장, ',')

In [ ]:
# 2번 문제

반지름 = 500
고기가_잘_잡히는_반경 = 반지름 ** 2 * 3.14
고기가_잘_잡히는_반경

In [ ]:
# 3번 문제

물고기를_팔고_난_후_캣의_통장 += (고기가_잘_잡히는_반경 - 314) * 110 * 물고기의_가격

In [ ]:
format(int(물고기를_팔고_난_후_캣의_통장), ',')

In [ ]:
# 4번 문제
# A등급은 350마리, B등급은 700마리

문제4_물고기_등급 = {'A등급':100, 'B등급':50}
문제4_잡은_물고기의_수 = {'A등급':350, 'B등급':700}

문제4_총액_A등급 = 문제4_물고기_등급['A등급'] * 문제4_잡은_물고기의_수['A등급']
문제4_총액_B등급 = 문제4_물고기_등급['B등급'] * 문제4_잡은_물고기의_수['B등급']

문제4_총액 = 문제4_총액_A등급 + 문제4_총액_B등급
문제4_총액

문제4_비율 = {'A등급':문제4_총액_A등급/70000*100, 'B등급':문제4_총액_B등급/70000*100}
문제4_비율

In [ ]:
def 낚시():
    print('A등급 생선을 한 마리 잡았습니다.')
# print('B등급 생선을 한 마리 잡았습니다.')

def 그물():
    print('A등급 3마리, B등급 3마리, C등급 4마리를 잡았습니다.')

def 통발():
    print('문어를 한 마리 잡았습니다.')

# 함수 호출하기
낚시()
그물()
통발()

In [ ]:
def f(x, y):
    z = x + y
    return z

# A등급 10마리, B등급 9마리
print('오늘 잡은 생선: ', f(10, 9))

In [ ]:
낚시()
print(낚시())

In [ ]:
def 계산(가격, 개수):
    return 가격 * 개수

print(계산(1000, 5), '원입니다.')

In [ ]:
# A등급: 1000원, B등급: 500원, C등급: 100원

def 계산(a, b, c):
    가격 = {'A등급': 1000, 'B등급': 500, 'C등급': 100}
    합계 = a*가격['A등급'] + b*가격['B등급'] + c*가격['C등급']
    return 합계

print(계산(5, 2, 3), '원입니다.')

In [ ]:
# 상수

PI = 3.14
def circle(r):
    z = r * r * PI
    return z

result = circle(10)
print(result)

In [ ]:
# global, 전역변수

A등급 = 0

def 낚시():
    global A등급
    A등급 += 1

낚시()
낚시()
낚시()

print(f'잡은 A등급 물고기는 {A등급}마리 입니다.')

In [ ]:
# global, 전역변수

A등급 = 0

def 낚시(물고기):
    물고기 += 1
    return 물고기

A등급 = 낚시(A등급)
A등급 = 낚시(A등급)
A등급 = 낚시(A등급)

print(f'잡은 A등급 물고기는 {A등급}마리 입니다.')

In [ ]:
# 함수 안에 함수 만들기

def print_text():
    text = '생선을 잡아보자!'
    def txt():
        print(text)
    txt()

print_text()

In [ ]:
def 생선잡기():
    물고기 = {'A등급':0, 'B등급':0, 'C등급':0}

    def 낚시():
        물고기['A등급'] += 1

    def 그물():
        물고기['A등급'] += 3
        물고기['B등급'] += 3
        물고기['C등급'] += 4

    def 통발():
        물고기['문어'] = 1

    낚시()
    그물()
    통발()

    return 물고기

생선잡기()
# sum(생선잡기().values())

In [ ]:
# dictionary는 함수 안에서도 값의 수정이 가능합니다!

물고기 = {'A등급':0, 'B등급':0, 'C등급':0}

def 낚시():
    물고기['A등급'] += 1

낚시()
물고기

In [ ]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return x * factorial(x-1)

factorial(5)

In [ ]:
# 캣의 직원 채용

성실성 = 85
프로그래밍능력 = 70

if 성실성 >= 80 and 프로그래밍능력 >= 70:
    print('합격입니다.')
    if 성실성 >= 90:
        print('보너스를 드리겠습니다.')

In [ ]:
# A등급: 1000원, B등급: 500원, C등급: 100원

def 계산(a, b, c):
    가격 = {'A등급': 1000, 'B등급': 500, 'C등급': 100}
    합계 = a*가격['A등급'] + b*가격['B등급'] + c*가격['C등급']
    return 합계

총합 = 계산(10, 2, 3)

if 총합 >= 10000:
    print('할인을 해주겠다냥!')
    print(f'총 {int(총합*0.9)}노드를 내면 된다냥!') # 10% 할인
else:
    print(f'총 {총합}노드를 내면 된다냥!')

In [ ]:
if True:
    print('one')
else:
    print('two')

In [ ]:
# 캣의 직원 채용

성실성 = int(input('성실성을 입력하세요: '))
프로그래밍능력 = int(input('프로그래밍능력을 입력하세요: '))

if 성실성 >= 80 and 프로그래밍능력 >= 70:
    print('합격입니다.')
    if 성실성 >= 90:
        print('보너스를 드리겠습니다.')
else:
    print('불합격입니다.')

In [ ]:
# 거스름돈
가격 = int(input('가격을 입력하세요: '))
받은돈 = int(input('받은돈을 입력하세요: '))

if 가격 < 받은돈:
    print('여기 거스름돈',받은돈-가격,'원입니다.')
elif 가격 > 받은돈:
    print(가격-받은돈,'원이 부족합니다')
else:
    print('감사합니다.')

In [ ]:
# A등급: 1000원, B등급: 500원, C등급: 100원

def 계산(a, b, c):
    가격 = {'A등급': 1000, 'B등급': 500, 'C등급': 100}
    합계 = a*가격['A등급'] + b*가격['B등급'] + c*가격['C등급']
    return 합계

총합 = 계산(20, 2, 3)
print(총합)

if 총합 >= 20000:
    print('20% 할인을 해주겠다냥!')
    print(f'총 {int(총합*0.8)}노드를 내면 된다냥!') # 20% 할인
elif 총합 >= 10000:
    print('10% 할인을 해주겠다냥!')
    print(f'총 {int(총합*0.9)}노드를 내면 된다냥!') # 10% 할인
elif 총합 >= 5000:
    print('5% 할인을 해주겠다냥!')
    print(f'총 {int(총합*0.95)}노드를 내면 된다냥!') # 5% 할인
else:
    print(f'총 {총합}노드를 내면 된다냥!')

In [ ]:
# 문제 1번

회원명 = input('회원명을 입력하세요: ')
회원 = ['A캣', 'B캣', 'C캣']

def 회원등록(in_회원명):
    회원.append(in_회원명)
    print(회원)
    print('회원으로 등록되었습니다.')

if 회원명 in 회원:
    print('이미 등록된 회원입니다.')
else:
    회원등록(회원원)

In [ ]:
회원명 = input('회원명을 입력하세요: ')
회원 = ['A캣', 'B캣', 'C캣']

def 회원등록(in_회원명, l):
    회원.append(in_회원명)
    print(l)
    print('회원으로 등록되었습니다.')

if 회원명 in 회원:
    print('이미 등록된 회원입니다.')
else:
    회원등록(회원명, 회원)

In [ ]:
# 문제 2번
# 애옹이와 냐옹이는 생선을 각각 15,000노드, 5,000노드
# 회원은 구매금액에 10% 적립

구매가격 = input('가격을 입력하세요: ')
회원명 = input('회원명을 입력하세요: ')

회원 = ['씨-캣', '자바캣', '파이캣', '썬캣', '애옹']

if 회원명 in 회원:
    print('회원입니다.')
    print(f'{구매가격}노드 중에 {int(구매가격)*0.1}노드가 적립 금액으로 적립됩니다.')
else:
    print('회원이 아닙니다. 회원가입을 해주세요.')

In [ ]:
# 문제 3번

구매가격 = int(input('가격을 입력하세요: '))
회원명 = input('회원명을 입력하세요: ')

# 회원 = {회원명:적립금}
회원 = {'씨-캣':5000, '자바캣':3500, '파이캣':15000, '썬캣':7000}

if 회원명 in 회원:
    if 회원[회원명] >= 10000:
        print(f'적립금을 사용할 수 있습니다. 현재 적립금액은 {회원[회원명]}노드입니다.')
        사용할_포인트 = int(input('사용할 적립금 노드를 입력하세요: '))
        결제할_금액 = 구매가격 - 사용할_포인트
        남은_적립금 = 회원[회원명] - 결제할_금액
        회원[회원명] = 남은_적립금 + 결제할_금액 * 0.1
        print(f'{사용할_포인트}노드를 사용하였습니다. 남은 적립금에 결제할 포인트를 합산한 노드는 {남은_적립금}노드입니다. 결제금액은 {결제할_금액액}입니다.')
    else:
        적립될_포인트 = 구매가격 * 0.1
        print(f'현재 적립금이 {회원[회원명]}노드이므로 아직 적립금을 사용할 수 없습니다.')
        print(f'결제금액은 {구매가격}노드이고, 적립 포인트는 {적립될_포인트}노드, 합산 포인트는 {적립될_포인트 + 회원[회원명]}노드입니다.')
        회원[회원명] += 적립될_포인트

print(회원)
# In 가격을 입력하세요: 10000
# In 회원명을 입력하세요: 파이캣
# Out 적립금을 사용할 수 있습니다. 현재 적립금액은 15000노드 입니다.
# In 사용할 적립금 노드를 입력하세요: 5000
# Out 5000노드를 사용하였습니다. 남은 적립금은 10000노드입니다. 결제금액은 5000원입니다.

# ---

# 가격을 입력하세요: 10000
# 회원명을 입력하세요: 썬캣
# 현재 적립금이 7000노드이므로 아직 적립금을 사용할 수 없습니다.
# 결제금액은 10000노드이고, 적립 포인트는 1000노드, 합산 포인트는 8000노드입니다.

In [ ]:
# 문제 4번

def 배수(n):
    def 적립(value):
        return (value * 0.1) * n
    return 적립

Feb = 배수(2)
Mar = 배수(3)

print('2월 적립금 이벤트: ', Feb(5000))
print('3월 적립금 이벤트: ', Mar(15000))

In [ ]:
for x in (1, 2, 3, 4, 5):
    print(f'고등어 포장 {x}번째 입니다.')

In [ ]:
for x in '1, 2, 3, 4, 5':
    print(f'고등어 포장 {x}번째 입니다.')

In [ ]:
왕국 = '위니브 월드'
for a in 왕국:
    print(a)
    print('------------')

In [ ]:
왕국 = '위니브 월드'
for a in 왕국:
    print(a)
print('------------')

In [ ]:
기술 = ['고기잡기', '고기팔기', '낚시_Lv1', '통발_Lv1', '큰그물_Lv1']
for a in 기술:
    print(a)
    print(a[:2])

In [ ]:
기술 = ['고기잡기', '고기팔기', '낚시_Lv1', '통발_Lv1', '큰그물_Lv1']
for a in 기술:
    print(a)
    print(a[:2])
    print(a[:-4])
    print(a[:a.find('_')])
    print('--------')

In [ ]:
캣의_상태창 = {
    '이름':'캣',
    '설명':'위니브 월드에서 가장 급성장하는 생선회사 대표 캣',
    '나이':'19',
    '키':'45.9cm',
    '몸무게':1.6,
}

for a in 캣의_상태창:
    print(a, 캣의_상태창[a])

In [ ]:
캣의_상태창.items()

In [ ]:
for a, b in 캣의_상태창.items():
    print(f'{a}:{b}')

In [ ]:
for a in 캣의_상태창.items():
    print(f'{a[0]}: {a[1]}')

In [ ]:
# range(start, stop, step)

print(type(range(2, 10, 2)))
print(list(range(10))) # stop 값만 있는 상태
print(list(range(5, 0, -1)))
print(list(range(2, 10)))

In [ ]:
listx = [100, 200, 300, 400]
strx = 'abcd'
listxiter = iter(listx)
strxiter = iter(strx)
print(next(listxiter),next(listxiter),next(listxiter),next(listxiter),)
print(next(strxiter),next(strxiter),next(strxiter),next(strxiter),)

In [ ]:
# for, else

for i in range(5):
    print(f'{i}마리의 물고기를 잡았습니다.')
    if i == 10:
        print('만선입니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이 정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

In [ ]:
# list comprehension

l = []

for i in range(1, 101):
    l.append(i)
l

ll = [i for i in range(1, 101)]
ll

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f'{i} x {j} = {i * j}')

In [ ]:
l = [f'{i} x {j} = {i * j}' for i in range(2, 10) for j in range(1, 10)]
l

In [ ]:
l = [f'{i} x {j} = {i * j}' for i in range(2, 10, 2) for j in range(1, 10)]
l

In [ ]:
l = [f'{i} x {j} = {i * j}' for i in range(2, 10) for j in range(1, 10) if i % 2 == 0]
l

In [ ]:
# 다중 리스트 for문
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C'),
]

for skill_name, skill_level, skill_grade in skill:
    print(skill_name, skill_level, skill_grade)

In [ ]:
# enumerate

skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C'),
]

for i, (skill_name, skill_level, skill_grade) in enumerate(skill, 1):
    print(i, skill_name, skill_level, skill_grade)

for i, j in enumerate(skill, 100):
    print(i, j)

In [ ]:
for i in range(5):
    num = int(input('고등어 몇 개를 구매하실 건가요?'))
    result = num * 5000
    print(result,'원 입니다.')

print('로봇이 종료되었습니다. 삐빅빅')

In [ ]:
고등어 = 50
for i in range(5):
    num = int(input('고등어 몇 개를 구매하실 건가요?'))
    result = num * 5000
    print(result,'원 입니다.')
    고등어 -= num
    if 고등어 == 0:
        print('재고가 전부 소진되었습니다. 삐빅')
        break

In [ ]:
# while

a = 1
while a < 10:
    print(a)
    a += 1
print('종료되었습니다.')

In [ ]:
while True:
    num = int(input('고등어 몇 개를 구매하실 건가요?'))
    result = num * 5000
    print(result,'원 입니다.')
    if num == -1:
        break
        
print('로봇이 종료되었습니다. 삐빅빅')

In [ ]:
fish = 5
while True:
    print('고등어', fish, '개 남았습니다.')
    fish -= 1
    if fish == 0:
        print('고등어 다 팔렸습니다.')
        break

In [ ]:
fish = 5
while True:
    num = int(input('고등어 몇 개를 구매하실 건가요?'))
    if fish >= num:
        fish = fish - num
        print('고등어', fish, '개 남았습니다.')
        if fish == 0:
            print('완판되었습니다.')
            break
    else:
        print('손님, 죄송하지만 구매할 수 있는 고등어', fish, '개 남았습니다.')
        fish = 0
        break

In [ ]:
fish = 5
while fish > 0:
    print('고등어', fish, '개 남았습니다.')
    # if fish < 3:
    #     break
    fish -= 1
else:
    print('고등어 다팔렸습니다.')

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        if j > 5:
            break
        print(f'{i} x {j} = {i * j}')

In [ ]:
# continue, pass

x = 10
if x > 10:
    pass
print('hello')

def test():
    pass

In [ ]:
# continue
구매개수_총가격 = [
    (3, 15000),
    (5, 25000),
    (1, 5000),
    (8, 40000),
    (0, 0),
    (2, 10000),
]

for 구매개수, 총가격 in 구매개수_총가격:
    if 구매개수 < 1:
        continue
    print(f'구매개수는 {구매개수}개이며 {총가격}원입니다.')

In [ ]:
try:
    i = 1
    j = 0
    x = i/j
except:
    print('error')
else:
    print(x)

In [ ]:
temp = 0

for i in range(10):
    for j in range(10):
        for k in range(10):
            temp += 1

print(temp)

## 사자탈을 쓴 캣

In [ ]:
# 1. 왕의 충성스런 신하는 아래와 같다. 왕의 신하가 총 몇 명인지 구하라.
신하 = {
    '하이에나' : 1121,
    '코뿔소' : 122,
    '코끼리' : 88,
    '기린' : 119,
    '독수리' : 62,
    '고양이' : 31,
}

모든_신하의_합 = 0
for i in 신하:
    print(f'{i} : {신하[i]}')
    모든_신하의_합 += 신하[i]

print(모든_신하의_합)

In [ ]:
# 2. 이웃 왕국의 침략이 있어 출전 준비해야 한다.
#    100명 이상인 좋은 출전을! 100명 이하인 종은 왕국을 수호한다.
#    출전 신하는 몇 명이고, 왕국을 수호하는 신하는 몇 명인가?

신하 = {
    '하이에나' : 1121,
    '코뿔소' : 122,
    '코끼리' : 88,
    '기린' : 119,
    '독수리' : 62,
    '고양이' : 31,
}

모든_신하의_합 = 0
출전하는_신하 = 0
왕국을_수호하는_신하 = 0

for i in 신하:
    print(f'{i} : {신하[i]}')
    모든_신하의_합 += 신하[i]
    if 신하[i] >= 100:
        출전하는_신하 += 신하[i]
    else:
        왕국을_수호하는_신하 += 신하[i]

print(f'모든_신하의_합: {모든_신하의_합}')
print(f'출전하는_신하: {출전하는_신하}')
print(f'왕국을_수호하는_신하: {왕국을_수호하는_신하}')
print(모든_신하의_합 == 출전하는_신하 + 왕국을_수호하는_신하)

In [ ]:
# 3. 침략을 방어하고, 출전했던 신하들은 각각 80%라는 큰 손실은 입었습니다.
#    왕국을 수호하는 신하까지 총 얼마의 신하가 남아있나요? 

신하 = {
    '하이에나' : 1121,
    '코뿔소' : 122,
    '코끼리' : 88,
    '기린' : 119,
    '독수리' : 62,
    '고양이' : 31,
}

모든_신하의_합 = 0
출전하는_신하 = 0
왕국을_수호하는_신하 = 0
출전_후_돌아온_신하 = 0

for i in 신하:
    print(f'{i} : {신하[i]}')
    모든_신하의_합 += 신하[i]
    if 신하[i] >= 100:
        출전하는_신하 += 신하[i]
        출전_후_돌아온_신하 += 신하[i] * 0.2
    else:
        왕국을_수호하는_신하 += 신하[i]

print(f'모든_신하의_합: {모든_신하의_합}')
print(f'출전하는_신하: {출전하는_신하}')
print(f'왕국을_수호하는_신하: {왕국을_수호하는_신하}')
print(f'출전_후_돌아온_신하: {int(출전_후_돌아온_신하)}')
print(f'사상자: {출전하는_신하 - int(출전_후_돌아온_신하)}')
print(모든_신하의_합 == 출전하는_신하 + 왕국을_수호하는_신하)